.Rproj.user
.Rhistory
.RData
.Ruserdata
data/ted.db
model/posterior_variances.rds
data/analysis_data.csv
data/reliability_data.Rdata
markdown/output/apa7_document.docx
markdown/output/response_scale_effects.docx
markdown/output/response_format_effects.docx
