.Rproj.user
.Rhistory
.RData
.Ruserdata
data/ted.db
model/posterior_variances.rds
data/analysis_data.csv
data/reliability_data.Rdata
markdown/output/apa7_document.docx
markdown/output/response_scale_effects.docx
markdown/output/response_format_effects.docx
markdown/output/response_format_effects_v3.docx
markdown/output/response_format_effects_clean.docx
markdown/output/response_format_effects_AS_SL_trackchanges.docx
markdown/output/response_format_effects_v2.docx
/markdown/output/archive
markdown/output/cover_letter_response_format_2026_AS.docx
markdown/output/response_format_effects_clean_AS_SL.docx
markdown/output/response_format_effects_clean_AS_SL.pdf
markdown/output/response_format_effects_SL_AS.docx
/proper_archive
